@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@400;500;700;800;900&display=swap');


*{
    margin: 0;
    padding:0;
    font-family: 'Mulish', sans-serif;
}



.nav-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.nav-content{
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.nav-content p{
    font-size: 32px;
    font-weight: 800;
}
.items-container{
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}
.items-container a{
    color: #424247;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.banner{
    border: 2px solid green;
    position: relative;
}
.banner-img{
    border: 2px solid black;
    max-width: 1100px;
    margin: 0 auto;
}
.banner-img img{
    max-width: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);


}
.banner-content h2,p{
    color: #fff;
}
.banner-content h2{
    
    font-size: 44px;
    font-weight: 700;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 0;
}
.banner-content{
    
    border: 2px solid white;
    position: absolute;
    text-align: center;
    bottom: 200px;
    left: 190px;
}
.banner-anchor{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 600px;
padding: 23px 0;
margin: 0 auto;
}
.banner-anchor input{
   width: 130px;
   height: 30px;
   margin-right: 20px;
   border-radius: 8px;
}
.btn-primary{
    width:100px ;
    height: 34px;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #FF400f;
}
